* {
    box-sizing: border-box;
}

h1 {
    color: red;
}

body {
    background-color: pink;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#CARD-BOX {
    width: 700px;
    height: 700px;
    margin-top: 10%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
}

.sizes {
    display: flex;
    width: 1fr;
    flex-direction: row;
    justify-content: space-between;
}

.holder {
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

.colors {
    display: flex;
    flex-direction: row;
    width: 5%;
    justify-content: space-around;
    background-color: orange;
    height: 680px;
}

.color-buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


#grid {
    display: grid;
    height: 680px;
    background-color: red;
    width: 100%;
    overflow: hidden;
}

